﻿@using Newtonsoft.Json;
@using TextClustering.Services;
@model FileUploadModel
@{
    ViewData["Title"] = "Home Page";
    ErrorResponse response = new ErrorResponse();
    if (TempData["response"] != null)
    {
        response = JsonConvert.DeserializeObject<ErrorResponse>((string)TempData["response"]);
    }
}
@if (response != null)
{
    if (response.Message != null)
    {
        <div class="alert alert-warning">@response.Message</div>
    }
}


<form method="post" asp-controller="Home" asp-action="ClusterDocument" enctype="multipart/form-data">
    <div class="container mt-5">
        <div class="row d-flex justify-content-center">
            <div class="col-md-6">
                <div class="card px-5 py-5" id="form1">
                    <div class="form-data">
                        <div class="forms-inputs mb-4">
                            <span>Enter the value of K</span> <input type="Number" asp-for="k" class="form-control" />

                        </div>
                        <div class="form-group">
                            <label asp-for="fileName">Insert files(.txt)</label>
                            <input type="file" class="form-control" asp-for="fileName" multiple />
                            <span asp-validation-for="fileName" class="text-danger"></span>
                        </div>

                        <div class="mb-3"> <button class="btn btn-primary">Submit</button> </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</form>

